
<div class="container p-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
            <div class="card hovercard shadow">
                <div class="cardheader bg-light"></div>
                <div class="avatar">
                    <img alt="" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
                <div class="info">
                    <div class="title">
                        <h6>Nombre: {{identidad.Nombre_usuario}}</h6>
                    </div>
                    <div class="desc">Apellido: {{identidad.Apellido_usuario}}</div>
                    <div class="desc">Correo: {{identidad.Correo}}</div>
                    <div class="desc">ID: {{identidad.id_usuarios}}</div>
                </div>
            </div>
        </div>
        <div class='col-md-9'>
            <div class="border border-light shadow">
                <img src="../../../assets/perfil" class="img-fluid" alt="Responsive image">
            </div>
            
        </div>
    </div>	
</div>