<div class="container-fluid p-4">
  <div class="row justify-content-center">
    <div class="col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4 mt-5">
        <div class="card text-center border-secondary">
            <div class="card-body">
                <form class="mt-3" [formGroup]="recurso" (ngSubmit)="onSaveFormR()">
                    <h5 class="card-title text-warning mt-3 ">Registrar Recurso</h5>
                    <div class="form-group mt-3">
                      <input type="text" class="form-control mt-auto " placeholder="Nombre del recurso" formControlName="namer" [ngClass]="{ 'is-invalid': namer.invalid && (namer.dirty || namer.touched) }"/>
                      <div *ngIf="namer.invalid && (namer.dirty || namer.touched)" class="invalid-feedback">
                        <div *ngIf="namer.errors.required">Ingrese nombre del recurso.</div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <textarea class="form-control text-secondary" rows="3" placeholder="Descripción" formControlName="descripcionr" [ngClass]="{ 'is-invalid': descripcionr.invalid && (descripcionr.dirty || descripcionr.touched) }"></textarea>
                      <div *ngIf="descripcionr.invalid && (descripcionr.dirty || descripcionr.touched)" class="invalid-feedback">
                        <div *ngIf="descripcionr.errors.maxlength">Descripcion muy larga.</div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <select class="form-control" placeholder="Proyecto" formControlName="proyector" [ngClass]="{ 'is-invalid': proyector.invalid && (proyector.dirty || proyector.touched) }">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                      <div *ngIf="proyector.invalid && (proyector.dirty || proyector.touched)" class="invalid-feedback">
                        <div *ngIf="proyector.errors.required">Seleccione proyecto.</div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <input type="" class="form-control mt-auto " placeholder="Responsable" formControlName="responsabler" [ngClass]="{ 'is-invalid': responsabler.invalid && (responsabler.dirty || responsabler.touched) }"/>
                      <div *ngIf="responsabler.invalid && (responsabler.dirty || responsabler.touched)" class="invalid-feedback">
                        <div *ngIf="responsabler.errors.required">Ingrese nombre del responsable.</div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <input type="" class="form-control mt-auto " placeholder="Estado" formControlName="estador" [ngClass]="{ 'is-invalid': estador.invalid && (estador.dirty || estador.touched) }"/>
                      <div *ngIf="estador.invalid && (estador.dirty || estador.touched)" class="invalid-feedback">
                        <div *ngIf="estador.errors.required">Ingrese estado.</div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <input type="" class="form-control mt-auto " placeholder="Prioridad" formControlName="prioridadr" [ngClass]="{ 'is-invalid': prioridadr.invalid && (prioridadr.dirty || prioridadr.touched) }"/>
                      <div *ngIf="prioridadr.invalid && (prioridadr.dirty || prioridadr.touched)" class="invalid-feedback">
                        <div *ngIf="prioridadr.errors.required">Ingrese prioridad.</div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <input type="" class="form-control mt-auto " placeholder="Dependencia" formControlName="dependenciar" [ngClass]="{ 'is-invalid': dependenciar.invalid && (dependenciar.dirty || dependenciar.touched) }"/>
                      <div *ngIf="dependenciar.invalid && (dependenciar.dirty || dependenciar.touched)" class="invalid-feedback">
                        <div *ngIf="dependenciar.errors.required">Ingrese prioridad.</div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <input type="date" class="form-control mt-auto text-secondary" formControlName="dater" [ngClass]="{ 'is-invalid': dater.invalid && (dater.dirty || dater.touched) }"/>
                      <div *ngIf="dater.invalid && (dater.dirty || dater.touched)" class="invalid-feedback">
                        <div *ngIf="dater.errors.required">Ingrese fecha.</div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <button [disabled]="!recurso.valid" class="btn btn-warning btn-block">Registrar Proyecto</button>
                    </div>
                    <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                </form>
            </div>
        </div>
    </div>
    <div class="col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4 mt-5 offset-md-1">
      <div class="card text-center border-secondary">
          <div class="card-body">
            <form class=" mt-3" [formGroup]="actividad" (ngSubmit)="onSaveFormA()">
              <h5 class="card-title text-warning mt-3 ">Registrar Actividad</h5>
              <div class="form-group mt-3">
                <input type="text" class="form-control mt-auto " placeholder="Nombre de la actividad" formControlName="namea" [ngClass]="{ 'is-invalid': namea.invalid && (namea.dirty || namea.touched) }"/>
                <div *ngIf="namea.invalid && (namea.dirty || namea.touched)" class="invalid-feedback">
                  <div *ngIf="namea.errors.required">Ingrese nombre de la actividad.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control text-secondary" rows="3" placeholder="Descripción" formControlName="descripciona" [ngClass]="{ 'is-invalid': descripciona.invalid && (descripciona.dirty || descripciona.touched) }"></textarea>
                <div *ngIf="descripciona.invalid && (descripciona.dirty || descripciona.touched)" class="invalid-feedback">
                  <div *ngIf="descripciona.errors.maxlength">Descripcion muy larga.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <select class="form-control" placeholder="Proyecto" formControlName="proyectoa" [ngClass]="{ 'is-invalid': proyectoa.invalid && (proyectoa.dirty || proyectoa.touched) }">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                <div *ngIf="proyectoa.invalid && (proyectoa.dirty || proyectoa.touched)" class="invalid-feedback">
                  <div *ngIf="proyectoa.errors.required">Seleccione proyecto.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="" class="form-control mt-auto " placeholder="Responsable" formControlName="responsablea" [ngClass]="{ 'is-invalid': responsablea.invalid && (responsablea.dirty || responsablea.touched) }"/>
                <div *ngIf="responsablea.invalid && (responsablea.dirty || responsablea.touched)" class="invalid-feedback">
                  <div *ngIf="responsablea.errors.required">Ingrese nombre del responsable.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="" class="form-control mt-auto " placeholder="Estado" formControlName="estadoa" [ngClass]="{ 'is-invalid': estadoa.invalid && (estadoa.dirty || estadoa.touched) }"/>
                <div *ngIf="estadoa.invalid && (estadoa.dirty || estadoa.touched)" class="invalid-feedback">
                  <div *ngIf="estadoa.errors.required">Ingrese estado.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="" class="form-control mt-auto " placeholder="Prioridad" formControlName="prioridada" [ngClass]="{ 'is-invalid': prioridada.invalid && (prioridada.dirty || prioridada.touched) }"/>
                <div *ngIf="prioridada.invalid && (prioridada.dirty || prioridada.touched)" class="invalid-feedback">
                  <div *ngIf="prioridada.errors.required">Ingrese prioridad.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="" class="form-control mt-auto " placeholder="Dependencia" formControlName="dependenciaa" [ngClass]="{ 'is-invalid': dependenciaa.invalid && (dependenciaa.dirty || dependenciaa.touched) }"/>
                <div *ngIf="dependenciaa.invalid && (dependenciaa.dirty || dependenciaa.touched)" class="invalid-feedback">
                  <div *ngIf="dependenciaa.errors.required">Ingrese prioridad.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="date" class="form-control mt-auto text-secondary" formControlName="datea" [ngClass]="{ 'is-invalid': datea.invalid && (datea.dirty || datea.touched) }"/>
                <div *ngIf="datea.invalid && (datea.dirty || datea.touched)" class="invalid-feedback">
                  <div *ngIf="datea.errors.required">Ingrese fecha.</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <button [disabled]="!actividad.valid" class="btn btn-warning btn-block">Registrar Actividad</button>
              </div>
              <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
          </form>
        </div>
    </div>
    </div>
    <div class="col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4 mt-5">
        <div class="card text-center border-secondary">
            <div class="card-body">
              <form class=" mt-3" [formGroup]="funcionalidad" (ngSubmit)="onSaveFormF()">
                <h5 class="card-title text-warning mt-3 ">Registrar Funcionalidad</h5>
                <div class="form-group mt-3">
                  <input type="text" class="form-control mt-auto " placeholder="Nombre de la funcionalidad" formControlName="namef" [ngClass]="{ 'is-invalid': namef.invalid && (namef.dirty || namef.touched) }"/>
                  <div *ngIf="namef.invalid && (namef.dirty || namef.touched)" class="invalid-feedback">
                    <div *ngIf="namef.errors.required">Ingrese nombre de la funcionalidad.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control text-secondary" rows="3" placeholder="Descripción" formControlName="descripcionf" [ngClass]="{ 'is-invalid': descripcionf.invalid && (descripcionf.dirty || descripcionf.touched) }"></textarea>
                  <div *ngIf="descripcionf.invalid && (descripcionf.dirty || descripcionf.touched)" class="invalid-feedback">
                    <div *ngIf="descripcionf.errors.maxlength">Descripcion muy larga.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <select class="form-control" placeholder="Proyecto" formControlName="proyectof" [ngClass]="{ 'is-invalid': proyectof.invalid && (proyectof.dirty || proyectof.touched) }">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                  <div *ngIf="proyectof.invalid && (proyectof.dirty || proyectof.touched)" class="invalid-feedback">
                    <div *ngIf="proyectof.errors.required">Seleccione proyecto.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="" class="form-control mt-auto " placeholder="Responsable" formControlName="responsablef" [ngClass]="{ 'is-invalid': responsablef.invalid && (responsablef.dirty || responsablef.touched) }"/>
                  <div *ngIf="responsablef.invalid && (responsablef.dirty || responsablef.touched)" class="invalid-feedback">
                    <div *ngIf="responsablef.errors.required">Ingrese nombre del responsable.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="" class="form-control mt-auto " placeholder="Estado" formControlName="estadof" [ngClass]="{ 'is-invalid': estadof.invalid && (estadof.dirty || estadof.touched) }"/>
                  <div *ngIf="estadof.invalid && (estadof.dirty || estadof.touched)" class="invalid-feedback">
                    <div *ngIf="estadof.errors.required">Ingrese estado.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="" class="form-control mt-auto " placeholder="Prioridad" formControlName="prioridadf" [ngClass]="{ 'is-invalid': prioridadf.invalid && (prioridadf.dirty || prioridadf.touched) }"/>
                  <div *ngIf="prioridadf.invalid && (prioridadf.dirty || prioridadf.touched)" class="invalid-feedback">
                    <div *ngIf="prioridadf.errors.required">Ingrese prioridad.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="" class="form-control mt-auto " placeholder="Dependencia" formControlName="dependenciaf" [ngClass]="{ 'is-invalid': dependenciaf.invalid && (dependenciaf.dirty || dependenciaf.touched) }"/>
                  <div *ngIf="dependenciaf.invalid && (dependenciaf.dirty || dependenciaf.touched)" class="invalid-feedback">
                    <div *ngIf="dependenciaf.errors.required">Ingrese prioridad.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="date" class="form-control mt-auto text-secondary" formControlName="datef" [ngClass]="{ 'is-invalid': datef.invalid && (datef.dirty || datef.touched) }"/>
                  <div *ngIf="datef.invalid && (datef.dirty || datef.touched)" class="invalid-feedback">
                    <div *ngIf="datef.errors.required">Ingrese fecha.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <button [disabled]="!funcionalidad.valid" class="btn btn-warning btn-block">Registrar Funcionalidad</button>
                </div>
                <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
            </form>
            </div>
        </div>
    </div>
    <div class="col-9 col-sm-9 col-md-6 col-lg-4 col-xl-4 mt-5 mb-5 offset-md-1">
        <div class="card text-center border-secondary">
            <div class="card-body">
              <form class=" mt-3" [formGroup]="tarea" (ngSubmit)="onSaveFormT()">
                <h5 class="card-title text-warning mt-3 ">Registrar Tarea</h5>
                <div class="form-group mt-3">
                  <input type="text" class="form-control mt-auto " placeholder="Nombre de la tarea" formControlName="namet" [ngClass]="{ 'is-invalid': namet.invalid && (namet.dirty || namet.touched) }"/>
                  <div *ngIf="namet.invalid && (namet.dirty || namet.touched)" class="invalid-feedback">
                    <div *ngIf="namet.errors.required">Ingrese nombre de la tarea.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control text-secondary" rows="3" placeholder="Descripción" formControlName="descripciont" [ngClass]="{ 'is-invalid': descripciont.invalid && (descripciont.dirty || descripciont.touched) }"></textarea>
                  <div *ngIf="descripciont.invalid && (descripciont.dirty || descripciont.touched)" class="invalid-feedback">
                    <div *ngIf="descripciont.errors.maxlength">Descripcion muy larga.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <select class="form-control" placeholder="Proyecto" formControlName="proyectot" [ngClass]="{ 'is-invalid': proyectot.invalid && (proyectot.dirty || proyectot.touched) }">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                  <div *ngIf="proyectot.invalid && (proyectot.dirty || proyectot.touched)" class="invalid-feedback">
                    <div *ngIf="proyectot.errors.required">Seleccione proyecto.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="" class="form-control mt-auto " placeholder="Responsable" formControlName="responsablet" [ngClass]="{ 'is-invalid': responsablet.invalid && (responsablet.dirty || responsablet.touched) }"/>
                  <div *ngIf="responsablet.invalid && (responsablet.dirty || responsablet.touched)" class="invalid-feedback">
                    <div *ngIf="responsablet.errors.required">Ingrese nombre del responsable.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="" class="form-control mt-auto " placeholder="Estado" formControlName="estadot" [ngClass]="{ 'is-invalid': estadot.invalid && (estadot.dirty || estadot.touched) }"/>
                  <div *ngIf="estadot.invalid && (estadot.dirty || estadot.touched)" class="invalid-feedback">
                    <div *ngIf="estadot.errors.required">Ingrese estado.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="" class="form-control mt-auto " placeholder="Prioridad" formControlName="prioridadt" [ngClass]="{ 'is-invalid': prioridadt.invalid && (prioridadt.dirty || prioridadt.touched) }"/>
                  <div *ngIf="prioridadt.invalid && (prioridadt.dirty || prioridadt.touched)" class="invalid-feedback">
                    <div *ngIf="prioridadt.errors.required">Ingrese prioridad.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="" class="form-control mt-auto " placeholder="Dependencia" formControlName="dependenciat" [ngClass]="{ 'is-invalid': dependenciat.invalid && (dependenciat.dirty || dependenciat.touched) }"/>
                  <div *ngIf="dependenciat.invalid && (dependenciat.dirty || dependenciat.touched)" class="invalid-feedback">
                    <div *ngIf="dependenciat.errors.required">Ingrese prioridad.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="date" class="form-control mt-auto text-secondary" formControlName="datet" [ngClass]="{ 'is-invalid': datet.invalid && (datet.dirty || datet.touched) }"/>
                  <div *ngIf="datet.invalid && (datet.dirty || datet.touched)" class="invalid-feedback">
                    <div *ngIf="datet.errors.required">Ingrese fecha.</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <button [disabled]="!tarea.valid" class="btn btn-warning btn-block">Registrar Tarea</button>
                </div>
                <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
              </form>
            </div>
        </div>
    </div>
  </div>
</div>
