<div class="nav-justified">
    <ul class=" nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-warning active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Estimación COCOMO II</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Configuración COCOMO II</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container-fluid p-4">
          <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
                <div class="card text-center border-secondary">
                    <div class="card-body">
                        <form class="mt-3" [formGroup]="estimacion">
                            <h5 class="card-title text-warning mt-3 ">Proyecto de Software</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Proyectos:</p>
                                    <select class="form-control mt-auto" formControlName="idProject">
                                        <option *ngFor="let project of projects.projects" [value]=project.id_proyecto>{{project.Nombre_Proyecto}}</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Numero de lineas de codigo:</p>
                                    <input type="text" class="form-control mt-auto" formControlName="linesCode">
                                </div>          
                            </div>
                            <h5 class="card-title text-warning mt-3 ">Valores de Factores de Escala</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Precedencia:</p>
                                    <select class="form-control mt-auto" formControlName="prec">
                                        <option [value]="dfs.fs.prec.muyBajo">Muy Bajo</option>
                                        <option [value]="dfs.fs.prec.bajo">Bajo</option>
                                        <option [value]="dfs.fs.prec.nominal" selected>Nominal</option>
                                        <option [value]="dfs.fs.prec.alto">Alto</option>
                                        <option [value]="dfs.fs.prec.muyAlto">Muy Alto</option>
                                        <option [value]="dfs.fs.prec.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Flexibilidad de desarrollo:</p>
                                    <select class="form-control mt-auto" formControlName="flex">
                                        <option [value]="dfs.fs.flex.muyBajo">Muy Bajo</option>
                                        <option [value]="dfs.fs.flex.bajo">Bajo</option>
                                        <option [value]="dfs.fs.flex.nominal" selected>Nominal</option>
                                        <option [value]="dfs.fs.flex.alto">Alto</option>
                                        <option [value]="dfs.fs.flex.muyAlto">Muy Alto</option>
                                        <option [value]="dfs.fs.flex.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Arquitectura/Resolución de riesgos:</p>
                                    <select class="form-control mt-auto" formControlName="rels"> 
                                        <option [value]="dfs.fs.rels.muyBajo">Muy Bajo</option>
                                        <option [value]="dfs.fs.rels.bajo">Bajo</option>
                                        <option [value]="dfs.fs.rels.nominal" selected>Nominal</option>
                                        <option [value]="dfs.fs.rels.alto">Alto</option>
                                        <option [value]="dfs.fs.rels.muyAlto">Muy Alto</option>
                                        <option [value]="dfs.fs.rels.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Cohesión del equipo:</p>
                                    <select class="form-control mt-auto" formControlName="team">
                                        <option [value]="dfs.fs.team.muyBajo">Muy Bajo</option>
                                        <option [value]="dfs.fs.team.bajo">Bajo</option>
                                        <option [value]="dfs.fs.team.nominal" selected>Nominal</option>
                                        <option [value]="dfs.fs.team.alto">Alto</option>
                                        <option [value]="dfs.fs.team.muyAlto">Muy Alto</option>
                                        <option [value]="dfs.fs.team.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Madurez del proceso:</p>
                                    <select class="form-control mt-auto" formControlName="pmat">
                                        <option [value]="dfs.fs.pmat.muyBajo">Muy Bajo</option>
                                        <option [value]="dfs.fs.pmat.bajo">Bajo</option>
                                        <option [value]="dfs.fs.pmat.nominal" selected>Nominal</option>
                                        <option [value]="dfs.fs.pmat.alto">Alto</option>
                                        <option [value]="dfs.fs.pmat.muyAlto">Muy Alto</option>
                                        <option [value]="dfs.fs.pmat.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Tipo de factor de costos:</p>
                                    <select class="form-control mt-auto" name="diseno" [(ngModel)]="diseno" [ngModelOptions]="{standalone: true}">
                                        <option value=0 selected>Diseño inicial</option>
                                        <option value=1>Arquitectura Posterior</option>
                                    </select>
                                </div>
                            </div>
                            <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                        </form>
                    </div>
                </div>              
            </div>
            <div *ngIf="diseno == 0" class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 mt-5">
                <div class="card text-center border-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning mt-3">Factores de Costos</h5>
                        <h5 class="card-title text-warning mt-3">Diseño Inical</h5>
                        <form class="mt-3" [formGroup]="estimacion">
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Capacidad de personal y ejemplo de mapeo:</p>
                                    <select class="form-control mt-auto" formControlName="pers">
                                        <option [value]="dfcdi.fcdi.pers.extraBajo">Extra Bajo</option>
                                        <option [value]="dfcdi.fcdi.pers.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcdi.fcdi.pers.bajo">Bajo</option>
                                        <option [value]="dfcdi.fcdi.pers.nominal" selected>Nominal</option>
                                        <option [value]="dfcdi.fcdi.pers.alto">Alto</option>
                                        <option [value]="dfcdi.fcdi.pers.muyAlto">Muy Alto</option>
                                        <option [value]="dfcdi.fcdi.pers.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Fiabilidad y complejidad del producto:</p>
                                    <select class="form-control mt-auto" formControlName="rcpx">
                                        <option [value]="dfcdi.fcdi.rcpx.extraBajo">Extra Bajo</option>
                                        <option [value]="dfcdi.fcdi.rcpx.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcdi.fcdi.rcpx.bajo">Bajo</option>
                                        <option [value]="dfcdi.fcdi.rcpx.nominal" selected>Nominal</option>
                                        <option [value]="dfcdi.fcdi.rcpx.alto">Alto</option>
                                        <option [value]="dfcdi.fcdi.rcpx.muyAlto">Muy Alto</option>
                                        <option [value]="dfcdi.fcdi.rcpx.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Desarrollado para la reutilizacióna:</p>
                                    <select class="form-control mt-auto" formControlName="ruse">
                                        <option [value]="dfcdi.fcdi.ruse.bajo">Bajo</option>
                                        <option [value]="dfcdi.fcdi.ruse.nominal" selected>Nominal</option>
                                        <option [value]="dfcdi.fcdi.ruse.alto">Alto</option>
                                        <option [value]="dfcdi.fcdi.ruse.muyAlto">Muy Alto</option>
                                        <option [value]="dfcdi.fcdi.ruse.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Dificultad de plataforma:</p>
                                    <select class="form-control mt-auto" formControlName="pdif">
                                        <option [value]="dfcdi.fcdi.pdif.bajo">Bajo</option>
                                        <option [value]="dfcdi.fcdi.pdif.nominal" selected>Nominal</option>
                                        <option [value]="dfcdi.fcdi.pdif.alto">Alto</option>
                                        <option [value]="dfcdi.fcdi.pdif.muyAlto">Muy Alto</option>
                                        <option [value]="dfcdi.fcdi.pdif.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Experiencia de personal:</p>
                                    <select class="form-control mt-auto" formControlName="prex">
                                        <option [value]="dfcdi.fcdi.prex.extraBajo">Extra Bajo</option>
                                        <option [value]="dfcdi.fcdi.prex.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcdi.fcdi.prex.bajo">Bajo</option>
                                        <option [value]="dfcdi.fcdi.prex.nominal" selected>Nominal</option>
                                        <option [value]="dfcdi.fcdi.prex.alto">Alto</option>
                                        <option [value]="dfcdi.fcdi.prex.muyAlto">Muy Alto</option>
                                        <option [value]="dfcdi.fcdi.prex.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Instalaciones:</p>
                                    <select class="form-control mt-auto" formControlName="fcil">
                                        <option [value]="dfcdi.fcdi.fcil.extraBajo">Extra Bajo</option>
                                        <option [value]="dfcdi.fcdi.fcil.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcdi.fcdi.fcil.bajo">Bajo</option>
                                        <option [value]="dfcdi.fcdi.fcil.nominal" selected>Nominal</option>
                                        <option [value]="dfcdi.fcdi.fcil.alto">Alto</option>
                                        <option [value]="dfcdi.fcdi.fcil.muyAlto">Muy Alto</option>
                                        <option [value]="dfcdi.fcdi.fcil.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Programa de desarrollo requerido:</p>
                                    <select class="form-control mt-auto" formControlName="sced">
                                        <option [value]="dfcdi.fcdi.sced.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcdi.fcdi.sced.bajo">Bajo</option>
                                        <option [value]="dfcdi.fcdi.sced.nominal" selected>Nominal</option>
                                        <option [value]="dfcdi.fcdi.sced.alto">Alto</option>
                                        <option [value]="dfcdi.fcdi.sced.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button class="btn btn-warning btn-block" (click)="onSetFormEst0()">Estimación</button>
                            </div>
                            <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                        </form>
                    </div>
                </div>              
            </div>
            <div *ngIf="diseno == 1" class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 mt-5">
                <div class="card text-center border-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning mt-3">Factores de Costos</h5>
                        <h5 class="card-title text-warning mt-3">Arquitectura Posterior</h5>
                        <form class="mt-3" [formGroup]="estimacion">
                            <h5 class="card-title text-left text-warning mt-3">Factores de producto:</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Fiabilidad de software requerida:</p>
                                    <select class="form-control mt-auto" formControlName="rely">
                                        <option [value]="dfcap.fcap.rely.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.rely.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.rely.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.rely.alto">Alto</option>
                                        <option [value]="dfcap.fcap.rely.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Tamaño de base de datos:</p>
                                    <select class="form-control mt-auto" formControlName="data">
                                        <option [value]="dfcap.fcap.data.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.data.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.data.alto">Alto</option>
                                        <option [value]="dfcap.fcap.data.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Complejidad del producto:</p>
                                    <select class="form-control mt-auto" formControlName="cplx">
                                        <option [value]="dfcap.fcap.cplx.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.cplx.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.cplx.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.cplx.alto">Alto</option>
                                        <option [value]="dfcap.fcap.cplx.muyAlto">Muy Alto</option>
                                        <option [value]="dfcap.fcap.cplx.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Desarrollado para la reutilización:</p>
                                    <select class="form-control mt-auto" formControlName="ruse">
                                        <option [value]="dfcap.fcap.ruse.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.ruse.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.ruse.alto">Alto</option>
                                        <option [value]="dfcap.fcap.ruse.muyAlto">Muy Alto</option>
                                        <option [value]="dfcap.fcap.ruse.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Documentación del ciclo de vida:</p>
                                    <select class="form-control mt-auto" formControlName="docu">
                                        <option [value]="dfcap.fcap.acap.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.acap.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.acap.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.acap.alto">Alto</option>
                                        <option [value]="dfcap.fcap.acap.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="card-title text-left text-warning mt-3">Factores de plataforma:</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Restricción de tiempo de ejecución:</p>
                                    <select class="form-control mt-auto" formControlName="time">
                                        <option [value]="dfcap.fcap.time.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.time.alto">Alto</option>
                                        <option [value]="dfcap.fcap.time.muyAlto">Muy Alto</option>
                                        <option [value]="dfcap.fcap.time.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Restricción de almacenamiento principal:</p>
                                    <select class="form-control mt-auto" formControlName="stor">
                                        <option [value]="dfcap.fcap.stor.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.stor.alto">Alto</option>
                                        <option [value]="dfcap.fcap.stor.muyAlto">Muy Alto</option>
                                        <option [value]="dfcap.fcap.stor.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Volatilidad de plataforma:</p>
                                    <select class="form-control mt-auto" formControlName="pvol">
                                        <option [value]="dfcap.fcap.pvol.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.pvol.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.pvol.alto">Alto</option>
                                        <option [value]="dfcap.fcap.pvol.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="card-title text-left text-warning mt-3">Factores de personal:</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Capacidad del analista:</p>
                                    <select class="form-control mt-auto" formControlName="acap">
                                        <option [value]="dfcap.fcap.acap.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.acap.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.acap.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.acap.alto">Alto</option>
                                        <option [value]="dfcap.fcap.acap.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Capacidad del programador:</p>
                                    <select class="form-control mt-auto" formControlName="pcap">
                                        <option [value]="dfcap.fcap.pcap.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.pcap.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.pcap.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.pcap.alto">Alto</option>
                                        <option [value]="dfcap.fcap.pcap.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Continuidad de personal:</p>
                                    <select class="form-control mt-auto" formControlName="pcon">
                                        <option [value]="dfcap.fcap.pcon.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.pcon.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.pcon.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.pcon.alto">Alto</option>
                                        <option [value]="dfcap.fcap.pcon.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Experiencia de aplicación:</p>
                                    <select class="form-control mt-auto" formControlName="apex">
                                        <option [value]="dfcap.fcap.apex.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.apex.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.apex.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.apex.alto">Alto</option>
                                        <option [value]="dfcap.fcap.apex.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Experiencia de plataforma:</p>
                                    <select class="form-control mt-auto" formControlName="plex">
                                        <option [value]="dfcap.fcap.plex.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.plex.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.plex.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.plex.alto">Alto</option>
                                        <option [value]="dfcap.fcap.plex.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Experiencia de lenguaje y herramientas:</p>
                                    <select class="form-control mt-auto" formControlName="ltex">
                                        <option [value]="dfcap.fcap.ltex.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.ltex.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.ltex.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.ltex.alto">Alto</option>
                                        <option [value]="dfcap.fcap.ltex.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="card-title text-left text-warning mt-3">Factores de proyecto:</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Uso de herramientas de software:</p>
                                    <select class="form-control mt-auto" formControlName="tool">
                                        <option [value]="dfcap.fcap.tool.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.tool.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.tool.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.tool.alto">Alto</option>
                                        <option [value]="dfcap.fcap.tool.muyAlto">Muy Alto</option>
                                        <option [value]="dfcap.fcap.tool.extraAlto">Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Desarrollo multisitio:</p>
                                    <select class="form-control mt-auto" formControlName="site">
                                        <option [value]="dfcap.fcap.site.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.site.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.site.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.site.alto">Alto</option>
                                        <option [value]="dfcap.fcap.site.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Programa de desarrollo requerido:</p>
                                    <select class="form-control mt-auto" formControlName="sced">
                                        <option [value]="dfcap.fcap.sced.muyBajo">Muy Bajo</option>
                                        <option [value]="dfcap.fcap.sced.bajo">Bajo</option>
                                        <option [value]="dfcap.fcap.sced.nominal" selected>Nominal</option>
                                        <option [value]="dfcap.fcap.sced.alto">Alto</option>
                                        <option [value]="dfcap.fcap.sced.muyAlto">Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                    <button class="btn btn-warning btn-block" (click)="onSetFormEst1()">Estimación</button>
                                </div>
                            <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                        </form>
                    </div>
                </div>              
            </div>
            <div class="col-10 col-sm-10 col-md-6 col-lg-6  col-xl-6 mt-5 mb-4">
                <div class="card text-center border-secondary">
                    <div class="card-body">
                        <form class="mt-3">
                            <h5 class="card-title text-warning mt-3 ">Resultados</h5>
                            <h5 class="card-title text-warning mt-3 ">Desarollo de Software</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Tiempo estimado:</p>
                                    <input type="text" class="form-control mt-auto">
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Costo estimado:</p>
                                    <input type="text" class="form-control mt-auto">
                                </div>         
                            </div>
                        </form>
                    </div>
                </div>              
            </div>  
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>