<div class="nav-justified">
    <ul class=" nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-warning active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Estimación COCOMO II</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Configuración COCOMO II</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container-fluid p-4">
          <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
                <div class="card text-center border-secondary">
                    <div class="card-body">
                        <form class="mt-3">
                            <h5 class="card-title text-warning mt-3 ">Proyecto de Software</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <select class="form-control mt-auto">
                                        <option disabled>Proyecto...</option>
                                        <option *ngFor="let project of projects.projects" [value]=project.id_proyecto>{{project.Nombre_Proyecto}}</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <input type="text" class="form-control mt-auto" placeholder="Numero de lineas de codigo">
                                </div>          
                            </div>
                            <h5 class="card-title text-warning mt-3 ">Valores de Factores de Escala</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Precedencia:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Flexibilidad de desarrollo:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Arquitectura/Resolución de riesgos:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Cohesión del equipo:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Madurez del proceso:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Tipo de factor de costos:</p>
                                    <select class="form-control mt-auto" name="diseno" [(ngModel)]="diseno">
                                        <option value=0 selected>Diseño inicial</option>
                                        <option value=1>Arquitectura Posterior</option>
                                    </select>
                                </div>
                            </div>
                            <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                        </form>
                    </div>
                </div>              
            </div>
            <div *ngIf="diseno == 0" class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 mt-5">
                <div class="card text-center border-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning mt-3">Factores de Costos</h5>
                        <h5 class="card-title text-warning mt-3">Diseño Inical</h5>
                        <form class="mt-3">
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Capacidad de personal y ejemplo de mapeo:</p>
                                    <select class="form-control mt-auto">
                                        <option>Extra Bajo</option>
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Fiabilidad y complejidad del producto:</p>
                                    <select class="form-control mt-auto">
                                        <option>Extra Bajo</option>
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Desarrollado para la reutilizacióna:</p>
                                    <select class="form-control mt-auto">
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Dificultad de plataforma:</p>
                                    <select class="form-control mt-auto">
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Experiencia de personal:</p>
                                    <select class="form-control mt-auto">
                                        <option>Extra Bajo</option>
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Instalaciones:</p>
                                    <select class="form-control mt-auto">
                                        <option>Extra Bajo</option>
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Programa de desarrollo requerido:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button class="btn btn-warning btn-block">Estimación</button>
                            </div>
                            <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                        </form>
                    </div>
                </div>              
            </div>
            <div *ngIf="diseno == 1" class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 mt-5">
                <div class="card text-center border-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-warning mt-3">Factores de Costos</h5>
                        <h5 class="card-title text-warning mt-3">Arquitectura Posterior</h5>
                        <form class="mt-3">
                            <h5 class="card-title text-left text-warning mt-3">Factores de producto:</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Fiabilidad de software requerida:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Tamaño de base de datos:</p>
                                    <select class="form-control mt-auto">
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Complejidad del producto:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Desarrollado para la reutilización:</p>
                                    <select class="form-control mt-auto">
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Documentación del ciclo de vida:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="card-title text-left text-warning mt-3">Factores de plataforma:</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Restricción de tiempo de ejecución:</p>
                                    <select class="form-control mt-auto">
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Restricción de almacenamiento principal:</p>
                                    <select class="form-control mt-auto">
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Volatilidad de plataforma:</p>
                                    <select class="form-control mt-auto">
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="card-title text-left text-warning mt-3">Factores de personal:</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Capacidad del analista:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Capacidad del programador:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Continuidad de personal:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Experiencia de aplicación:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Experiencia de plataforma:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Experiencia de lenguaje y herramientas:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="card-title text-left text-warning mt-3">Proyecto:</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Uso de herramientas de software:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                        <option>Extra Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Desarrollo multisitio:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3 col-4">
                                    <p class="text-left text-secondary">Programa de desarrollo requerido:</p>
                                    <select class="form-control mt-auto">
                                        <option>Muy Bajo</option>
                                        <option>Bajo</option>
                                        <option selected>Nominal</option>
                                        <option>Alto</option>
                                        <option>Muy Alto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button class="btn btn-warning btn-block">Estimación</button>
                            </div>
                            <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                        </form>
                    </div>
                </div>              
            </div>
            <div class="col-10 col-sm-10 col-md-6 col-lg-6  col-xl-6 mt-5 mb-4">
                <div class="card text-center border-secondary">
                    <div class="card-body">
                        <form class="mt-3">
                            <h5 class="card-title text-warning mt-3 ">Resultados</h5>
                            <h5 class="card-title text-warning mt-3 ">Desarollo de Software</h5>
                            <div class="form-row">
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Tiempo estimado:</p>
                                    <input type="text" class="form-control mt-auto">
                                </div>
                                <div class="form-group mt-3 col-6">
                                    <p class="text-left text-secondary">Costo estimado:</p>
                                    <input type="text" class="form-control mt-auto">
                                </div>         
                            </div>
                        </form>
                    </div>
                </div>              
            </div>  
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>