<div class="container-fluid p-4">
    <div class="row justify-content-center">
        <div class="col-9 col-sm-9 col-md-6 col-lg-4 col-xl-4 mt-5 mb-5">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <form class=" mt-3" [formGroup]="actualizar" (ngSubmit)="onUpdateFormT()">
                        <h5 class="card-title text-warning mt-3 ">Actualizar Tarea</h5>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control mt-auto " placeholder="Nombre de la tarea" formControlName="namet" [ngClass]="{ 'is-invalid': namet.invalid && (namet.dirty || namet.touched) }"/>
                            <div *ngIf="namet.invalid && (namet.dirty || namet.touched)" class="invalid-feedback">
                                <div *ngIf="namet.errors.required">Ingrese nombre de la tarea.</div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control text-secondary" rows="3" placeholder="Descripción" formControlName="descripciont" [ngClass]="{ 'is-invalid': descripciont.invalid && (descripciont.dirty || descripciont.touched) }"></textarea>
                            <div *ngIf="descripciont.invalid && (descripciont.dirty || descripciont.touched)" class="invalid-feedback">
                                <div *ngIf="descripciont.errors.maxlength">Descripcion muy larga.</div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <select class="form-control" placeholder="Proyecto" formControlName="proyectot" [ngClass]="{ 'is-invalid': proyectot.invalid && (proyectot.dirty || proyectot.touched) }">
                                <option *ngFor="let project of projects.projects" [value]=project.id_proyecto>{{project.Nombre_Proyecto}}</option>
                            </select>
                            <div *ngIf="proyectot.invalid && (proyectot.dirty || proyectot.touched)" class="invalid-feedback">
                                <div *ngIf="proyectot.errors.required">Seleccione proyecto.</div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="" class="form-control mt-auto " placeholder="Responsable" formControlName="responsablet" [ngClass]="{ 'is-invalid': responsablet.invalid && (responsablet.dirty || responsablet.touched) }"/>
                            <div *ngIf="responsablet.invalid && (responsablet.dirty || responsablet.touched)" class="invalid-feedback">
                                <div *ngIf="responsablet.errors.required">Ingrese nombre del responsable.</div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                        <input type="" class="form-control mt-auto " placeholder="Estado" formControlName="estadot" [ngClass]="{ 'is-invalid': estadot.invalid && (estadot.dirty || estadot.touched) }"/>
                            <div *ngIf="estadot.invalid && (estadot.dirty || estadot.touched)" class="invalid-feedback">
                                <div *ngIf="estadot.errors.required">Ingrese estado.</div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                        <input type="" class="form-control mt-auto " placeholder="Prioridad" formControlName="prioridadt" [ngClass]="{ 'is-invalid': prioridadt.invalid && (prioridadt.dirty || prioridadt.touched) }"/>
                            <div *ngIf="prioridadt.invalid && (prioridadt.dirty || prioridadt.touched)" class="invalid-feedback">
                                <div *ngIf="prioridadt.errors.required">Ingrese prioridad.</div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button [disabled]="!actualizar.valid" class="btn btn-warning btn-block">Actualizar Tarea</button>
                        </div>
                        <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
