<div class="container-fluid p-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-12 col-md-6 col-xl-6">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <form class="mt-3">
                        <h5 class="card-title text-warning mt-3 ">Configuración de Proyecto</h5>
                        <div class="form-row">
                            <div class="form-group mt-3 col-6">
                                <input type="text" class="form-control mt-auto" placeholder="Nombre">
                            </div>
                            <div class="form-group mt-3 col-6">
                                <input type="text" class="form-control mt-auto" placeholder="Horas Laborales">
                            </div>       
                        </div>                    
                        <div class="form-row">
                            <div class="form-group mt-3 col-6">
                                <input type="text" class="form-control mt-auto" placeholder="Salario Mes/Persona">
                            </div>
                            <div class="form-group mt-3 col-6">
                                <input type="text" class="form-control mt-auto" placeholder="Cantidad de Empleados">
                            </div>       
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-6">
                                <button class="btn btn-warning btn-block">Modificar</button>
                            </div>  
                        </div> 
                        <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                    </form>
                </div>
            </div>              
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mt-5">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <form class="mt-3">
                        <h5 class="card-title text-warning mt-3">Configuración Factores de Escala</h5>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">FS</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Extra Bajo</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Muy Bajo</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Bajo</p>
                            </div> 
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Nominal</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Alto</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Muy Alto</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary"> Alto</p>
                            </div>          
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PREC</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">FLEX</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">RESL</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">TEAM</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PMAT</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-3">
                                <button class="btn btn-warning btn-block">Modificar</button>
                            </div>  
                        </div>                      
                        <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                    </form>
                </div>
            </div>              
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mt-5">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <form class="mt-3">
                        <h5 class="card-title text-warning mt-3">Configuración Factores de Costos</h5>
                        <h5 class="card-title text-warning mt-3">Diseño Inical</h5>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">FCDI</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Extra Bajo</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Muy Bajo</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Bajo</p>
                            </div> 
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Nominal</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Alto</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Muy Alto</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary"> Alto</p>
                            </div>          
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PERS</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">RCPX</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">RUSE</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PDIF</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PREX</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">FCIL</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">SCED</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-3">
                                <button class="btn btn-warning btn-block">Modificar</button>
                            </div>  
                        </div>                      
                        <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                    </form>
                </div>
            </div>              
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mt-5 mb-4">
            <div class="card text-center border-secondary">
                <div class="card-body">
                    <form class="mt-3">
                        <h5 class="card-title text-warning mt-3">Configuración Factores de Costos de Software</h5>
                        <h5 class="card-title text-warning mt-3">Diseño Arquitectura Posterior</h5>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">FCDAP</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Muy Bajo</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Bajo</p>
                            </div> 
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Nominal</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Alto</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">Muy Alto</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary"> Alto</p>
                            </div>          
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">RELY</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">DATA</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">CPLX</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">RUSE</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">DOCU</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">TIME</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">STOR</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PVOL</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">ACAP</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PCAP</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PCON</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">APEX</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">PLEX</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">LTEX</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">TOOL</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">SITE</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-1">
                                <p class="text-secondary">SCED</p>
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto">
                            </div>
                            <div class="form-group mt-3 col-1">
                                <input type="text" class="form-control mt-auto" disabled>
                            </div>                                    
                        </div>
                        <div class="form-row justify-content-center align-items-center">
                            <div class="form-group mt-3 col-3">
                                <button class="btn btn-warning btn-block">Modificar</button>
                            </div>  
                        </div>                      
                        <p class="mt-3 mb-2 text-muted">Project Management Sort © PMS 2019</p>
                    </form>
                </div>
            </div>              
        </div>
    </div>
</div>
